<template name="banner">
	<div id="title" class="slide header">
  <h1>Incubation</h1>
  <h6>is all about</h6>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Ideate</h1>
    <p>Every bigger invention starts with a small idea, and the very small idea, turns into an immense implementation. We at incubation help students to learn skills of the 21st Century.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Innovate</h1>
    <p>To create things that, defy the normal convention of nature, is what we call innovation. The mindset of an out of the box thinking is at the heart of innovation. We at incubation truly believe that.</p>
  </div>
  <img src="http://lorempixel.com/640/480/abstract/6/">
  <img src="http://lorempixel.com/640/480/abstract/4/"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Create</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>
</template>