<template name="updates">
    <div class="container">
      
      <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">
          Updates in incubation events appears here.
          </span>
        </div>
      </div>
    </div>
	<p>Getting you the latest updates</p>
    <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

    </div>
</template>