<template name="event_card">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://iitbhu.ac.in/events/ece/aayam2012/images/eventimages/soccer.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Manual Robotics Workshop<i class="material-icons right">more_vert</i></span>
      <a class="waves-effect waves-light btn" href="/register/event">Register for this event</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>A manual robotics workshop teaching students of 1st year and 2nd year to dive into the exciting field of animating machines for fun and learning</p>
    </div>
  </div>
</template>