<template name="about">
	<div class="container">
	<h5>We are a bunch of awesome guys, with a desire to make learning things fun.</h5>
		
		<div class="row">
			<div class="col s4">
				<div class="team card small">
					<img src="/assets/arijit.jpg" alt="">
					<p>Arijit Das</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="team card small">
				<img src="/assets/arunava.jpg" alt="">
					<p>Arunava Das</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="team card small">
				<img src="/assets/bikram.jpg" alt="">
					<p>Bickramdev Chakraborty</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="team card small">
				<img src="/assets/prana.jpg" alt="">
					<p>Pranabesh Sarkar</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="team card small">
				<img src="/assets/rahul.jpg" alt="">
					<p>Rahul Sharma</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="team card small">
				<img src="/assets/surya.jpg" alt="">
					<p>Suryadeep Pal</p>
				</div>		
			</div>
		</div>
		
	</div>
	
</template>	