<template name="about">
	<div class="container">
		<h4>We are a bunch of awesome guys, with a desire to make learning things fun.</h4>
		<div class="row">
			<div class="col s4">
				<div class="card small">
					<img src="/assets/profile.png" alt="">
					<p>Arijit Das</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="card small">
				<img src="/assets/profile.png" alt="">
					<p>Arunava Das</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="card small">
				<img src="/assets/profile.png" alt="">
					<p>Bickramdev Chakraborty</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="card small">
				<img src="/assets/profile.png" alt="">
					<p>Pranabesh Sarkar</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="card small">
				<img src="/assets/profile.png" alt="">
					<p>Rahul Sharma</p>
				</div>		
			</div>
			<div class="col s4">
				<div class="card small">
				<img src="/assets/profile.png" alt="">
					<p>Suryadeep Pal</p>
				</div>		
			</div>
		</div>
		
	</div>
	
</template>	