<template name="banner">
	<div id="title" class="slide header">
  <h1>Incubation</h1>
  <img src="/assets/incubation-logo.jpg">
  <h6>is all about</h6>
</div>

<div id="slide1" class="slide">
  <img src="http://natedoesux.design/img/ideate-icon-labeled.png">
  <div class="title">
    
    <h1>Ideate</h1>
    <p>Every bigger invention starts with a small idea, and even those little idea, when thought well could make good impact. We at incubation aim to help students learn skills of modern day, and foster creativity.</p>
  </div>  
</div>

<div id="slide2" class="slide">
  
  <div class="title">
    <img width="220px" src="/assets/innovate.gif">
    <h1>Innovate</h1>
    <p>To create things that, defy the normal convention of nature, is what we call innovation. The mindset of an out of the box thinking is at the heart of innovation. We at incubation truly believe that.</p>
  </div>
    
</div>

<div id="slide3" class="slide">
  <img src="#">
  <div class="title">
    <h1>Create</h1>
    <p>Ideas have their physical meaning when we create them.</p>
  </div>
</div>
</template>