<template name="signin">
<div class="container">
<div class="row">
    <br><br><br>
    <div class="col s8">
        <img src="/assets/incubation.jpg" alt="incubation-logo">
    </div>
    <div style="float:right" class="col s4">
    <form action="" class="students-sign-in">
        <input type="email" name="email">
        <input type="password" name="password">
        <input class="btn" type="submit" name="signin_btn">
    </form>         
    </div>
</div>
    
</div>
</template>